
.container{
    margin-top: 20px;
}
.card-img{
    width: auto;
    height: 150px;
    object-fit: cover;
}

.card-body a.card-text{
    color: #555;
    font-weight: 600;
    /* line-height: 900; */
}

.card-body{
    height: auto;
}